@custom-media --xs-only (max-width: 480px);
@custom-media --s-only (max-width: 649px);
@custom-media --m (min-width: 650px);
@custom-media --m-only (min-width: 650px) and (max-width: 859px);
@custom-media --r (min-width: 860px);
@custom-media --r-only (min-width: 860px) and (max-width: 1023px);
@custom-media --l (min-width: 1024px);
@custom-media --l-only (min-width: 1024px and max-width: 1199px);
@custom-media --xl (min-width: 1200px);
