:root {
  --z-index-global-error-toast: 13;
  --z-index-content-editor-bar: 12;
  --z-index-editorjs-popover: 11;
  --z-index-overlay: 10;
  --z-index-hamburger: 9;
  --z-index-session-list-separator: 8;
  --z-index-navigation-wrapper: 7;
  --z-index-page-header: 6;
  --z-index-city-sponsors: 5;
  --z-index-main-sponsors: 4;
}
