@import 'tailwindcss';
@import './_zindex.pcss';
@import './_mediaquery.pcss';
@import './_size.pcss';
@import './_color.pcss';
@import './_core.pcss';
@import './_global.pcss';
@import './_button.pcss';
@import './_form.pcss';

@layer components {
  .hc-dialog.el-dialog {
    width: min(90%, 60rem);
  }
}
